### OCI Data Science - Useful Tips
<details>
<summary><font size="2">Check for Public Internet Access</font></summary>

```python
import requests
response = requests.get("https://oracle.com")
assert response.status_code==200, "Internet connection failed"
```
</details>
<details>
<summary><font size="2">Helpful Documentation </font></summary>
<ul><li><a href="https://docs.cloud.oracle.com/en-us/iaas/data-science/using/data-science.htm">Data Science Service Documentation</a></li>
<li><a href="https://docs.cloud.oracle.com/iaas/tools/ads-sdk/latest/index.html">ADS documentation</a></li>
</ul>
</details>
<details>
<summary><font size="2">Typical Cell Imports and Settings for ADS</font></summary>

```python
%load_ext autoreload
%autoreload 2
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

import logging
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.ERROR)

import ads
from ads.dataset.factory import DatasetFactory
from ads.automl.provider import OracleAutoMLProvider
from ads.automl.driver import AutoML
from ads.evaluations.evaluator import ADSEvaluator
from ads.common.data import ADSData
from ads.explanations.explainer import ADSExplainer
from ads.explanations.mlx_global_explainer import MLXGlobalExplainer
from ads.explanations.mlx_local_explainer import MLXLocalExplainer
from ads.catalog.model import ModelCatalog
from ads.common.model_artifact import ModelArtifact
```
</details>
<details>
<summary><font size="2">Useful Environment Variables</font></summary>

```python
import os
print(os.environ["NB_SESSION_COMPARTMENT_OCID"])
print(os.environ["PROJECT_OCID"])
print(os.environ["USER_OCID"])
print(os.environ["TENANCY_OCID"])
print(os.environ["NB_REGION"])
```
</details>

In [7]:
from oci.auth import signers
import oci
import io
import pandas as pd

# Get the resource principal signer
signer = signers.get_resource_principals_signer()

# Create ObjectStorageClient with empty config and the resource principal signer
object_storage_client = oci.object_storage.ObjectStorageClient(config={}, signer=signer)

# Specify your namespace, bucket, and object name (all strings)
namespace = "lr0x98mmd4wz"  # Replace with your actual namespace string
bucket_name = "Energy-Prediction-Dataset"  # Replace with your actual bucket name
object_name = "msoa_final_with_payment_and_labels (1).csv"  # Replace with your actual object name

# Get the object from Object Storage
response = object_storage_client.get_object(namespace, bucket_name, object_name)

# Read object data, for example into a pandas DataFrame (if CSV)
data = response.data.content
df = pd.read_csv(io.BytesIO(data),  low_memory=False)

print(df.head())

  local authority code local authority  msoa code  \
0            E06000001      Hartlepool  E02002483
1            E06000001      Hartlepool  E02002483
2            E06000001      Hartlepool  E02002483
3            E06000001      Hartlepool  E02002483
4            E06000001      Hartlepool  E02002484

  middle layer super output area number\nof meters total_consumption  \
0                 Hartlepool 001             3,743        12,986,912
1                 Hartlepool 001             3,743        12,986,912
2                 Hartlepool 001             3,743        12,986,912
3                 Hartlepool 001             3,743        12,986,912
4                 Hartlepool 002             4,802        15,109,783

   mean_consumption median_consumption  year       msoa name  ...  \
0            3470.0              3,100  2010  Hartlepool 001  ...
1            3470.0              3,100  2010  Hartlepool 001  ...
2            3470.0              3,100  2010  Hartlepool 001  ...
3            3470.0              3,100  2010  Hartlepool 001  ...
4            3147.0              2,735  2010  Hartlepool 002  ...

  lower confidence limit (£) confidence interval (£) quarter  credit (%)  \
0                    33,800                  14,000      Mar        31.0
1                    33,800                  14,000      Jun        30.0
2                    33,800                  14,000      Sep        29.0
3                    33,800                  14,000      Dec        29.0
4                    24,500                  10,200      Mar        31.0

  direct debit (%) prepayment_% annual_bill_estimate cost_burden  \
0             53.0         16.0               1041.0    0.025896
1             54.0         16.0               1041.0    0.025896
2             55.0         16.0               1041.0    0.025896
3             56.0         16.0               1041.0    0.025896
4             53.0         16.0                944.1    0.032332

   default_risk_label                   label_source
0                   0  proxy_high_burden_high_prepay
1                   0  proxy_high_burden_high_prepay
2                   0  proxy_high_burden_high_prepay
3                   0  proxy_high_burden_high_prepay
4                   0  proxy_high_burden_high_prepay

[5 rows x 25 columns]

In [8]:
df

,local authority code,local authority,msoa code,middle layer super output area,number\nof meters,total_consumption,mean_consumption,median_consumption,year,msoa name,...,lower confidence limit (£),confidence interval (£),quarter,credit (%),direct debit (%),prepayment_%,annual_bill_estimate,cost_burden,default_risk_label,label_source
0,E06000001,Hartlepool,E02002483,Hartlepool 001,"3,743","12,986,912",3470.0,"3,100",2010,Hartlepool 001,...,"33,800","14,000",Mar,31.0,53.0,16.0,1041.0,0.025896,0,proxy_high_burden_high_prepay
1,E06000001,Hartlepool,E02002483,Hartlepool 001,"3,743","12,986,912",3470.0,"3,100",2010,Hartlepool 001,...,"33,800","14,000",Jun,30.0,54.0,16.0,1041.0,0.025896,0,proxy_high_burden_high_prepay
2,E06000001,Hartlepool,E02002483,Hartlepool 001,"3,743","12,986,912",3470.0,"3,100",2010,Hartlepool 001,...,"33,800","14,000",Sep,29.0,55.0,16.0,1041.0,0.025896,0,proxy_high_burden_high_prepay
3,E06000001,Hartlepool,E02002483,Hartlepool 001,"3,743","12,986,912",3470.0,"3,100",2010,Hartlepool 001,...,"33,800","14,000",Dec,29.0,56.0,16.0,1041.0,0.025896,0,proxy_high_burden_high_prepay
4,E06000001,Hartlepool,E02002484,Hartlepool 002,"4,802","15,109,783",3147.0,"2,735",2010,Hartlepool 002,...,"24,500","10,200",Mar,31.0,53.0,16.0,944.1,0.032332,0,proxy_high_burden_high_prepay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287736,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000287,Merthyr Tydfil 005,NaN,"10,040,300",2737.0,"2,363",2023,Merthyr Tydfil 005,...,"32,700","13,300",NaN,NaN,NaN,NaN,821.1,0.021162,0,proxy_high_burden_high_prepay
287737,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000288,Merthyr Tydfil 006,NaN,"10,291,416",2634.0,"2,224",2023,Merthyr Tydfil 006,...,"28,300","11,500",NaN,NaN,NaN,NaN,790.2,0.023588,0,proxy_high_burden_high_prepay
287738,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000289,Merthyr Tydfil 007,NaN,"11,261,745",2914.0,"2,448",2023,Merthyr Tydfil 007,...,"31,400","12,900",NaN,NaN,NaN,NaN,874.2,0.023437,0,proxy_high_burden_high_prepay
287739,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000415,Merthyr Tydfil 008,NaN,"12,099,972",3039.0,"2,679",2023,Merthyr Tydfil 008,...,"31,100","13,300",NaN,NaN,NaN,NaN,911.7,0.024574,0,proxy_high_burden_high_prepay
287740,Unallocated,Unallocated,Unallocated,Unallocated,NaN,"113,607,524",2915.0,"1,839",2023,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,874.5,NaN,0,proxy_high_burden_high_prepay