### OCI Data Science - Useful Tips
<details>
<summary><font size="2">Check for Public Internet Access</font></summary>

```python
import requests
response = requests.get("https://oracle.com")
assert response.status_code==200, "Internet connection failed"
```
</details>
<details>
<summary><font size="2">Helpful Documentation </font></summary>
<ul><li><a href="https://docs.cloud.oracle.com/en-us/iaas/data-science/using/data-science.htm">Data Science Service Documentation</a></li>
<li><a href="https://docs.cloud.oracle.com/iaas/tools/ads-sdk/latest/index.html">ADS documentation</a></li>
</ul>
</details>
<details>
<summary><font size="2">Typical Cell Imports and Settings for ADS</font></summary>

```python
%load_ext autoreload
%autoreload 2
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

import logging
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.ERROR)

import ads
from ads.dataset.factory import DatasetFactory
from ads.automl.provider import OracleAutoMLProvider
from ads.automl.driver import AutoML
from ads.evaluations.evaluator import ADSEvaluator
from ads.common.data import ADSData
from ads.explanations.explainer import ADSExplainer
from ads.explanations.mlx_global_explainer import MLXGlobalExplainer
from ads.explanations.mlx_local_explainer import MLXLocalExplainer
from ads.catalog.model import ModelCatalog
from ads.common.model_artifact import ModelArtifact
```
</details>
<details>
<summary><font size="2">Useful Environment Variables</font></summary>

```python
import os
print(os.environ["NB_SESSION_COMPARTMENT_OCID"])
print(os.environ["PROJECT_OCID"])
print(os.environ["USER_OCID"])
print(os.environ["TENANCY_OCID"])
print(os.environ["NB_REGION"])
```
</details>

In [149]:
from oci.auth import signers
import oci
import io
import pandas as pd

# Get the resource principal signer
signer = signers.get_resource_principals_signer()

# Create ObjectStorageClient with empty config and the resource principal signer
object_storage_client = oci.object_storage.ObjectStorageClient(config={}, signer=signer)

# Specify your namespace, bucket, and object name (all strings)
namespace = "lr0x98mmd4wz"  # Replace with your actual namespace string
bucket_name = "Energy-Prediction-Dataset"  # Replace with your actual bucket name
object_name = "msoa_final_with_payment_and_labels (1).csv"  # Replace with your actual object name

# Get the object from Object Storage
response = object_storage_client.get_object(namespace, bucket_name, object_name)

# Read object data, for example into a pandas DataFrame (if CSV)
data = response.data.content
df = pd.read_csv(io.BytesIO(data),  low_memory=False)

print(df.head())

  local authority code local authority  msoa code  \
0            E06000001      Hartlepool  E02002483
1            E06000001      Hartlepool  E02002483
2            E06000001      Hartlepool  E02002483
3            E06000001      Hartlepool  E02002483
4            E06000001      Hartlepool  E02002484

  middle layer super output area number\nof meters total_consumption  \
0                 Hartlepool 001             3,743        12,986,912
1                 Hartlepool 001             3,743        12,986,912
2                 Hartlepool 001             3,743        12,986,912
3                 Hartlepool 001             3,743        12,986,912
4                 Hartlepool 002             4,802        15,109,783

   mean_consumption median_consumption  year       msoa name  ...  \
0            3470.0              3,100  2010  Hartlepool 001  ...
1            3470.0              3,100  2010  Hartlepool 001  ...
2            3470.0              3,100  2010  Hartlepool 001  ...
3            3470.0              3,100  2010  Hartlepool 001  ...
4            3147.0              2,735  2010  Hartlepool 002  ...

  lower confidence limit (£) confidence interval (£) quarter  credit (%)  \
0                    33,800                  14,000      Mar        31.0
1                    33,800                  14,000      Jun        30.0
2                    33,800                  14,000      Sep        29.0
3                    33,800                  14,000      Dec        29.0
4                    24,500                  10,200      Mar        31.0

  direct debit (%) prepayment_% annual_bill_estimate cost_burden  \
0             53.0         16.0               1041.0    0.025896
1             54.0         16.0               1041.0    0.025896
2             55.0         16.0               1041.0    0.025896
3             56.0         16.0               1041.0    0.025896
4             53.0         16.0                944.1    0.032332

   default_risk_label                   label_source
0                   0  proxy_high_burden_high_prepay
1                   0  proxy_high_burden_high_prepay
2                   0  proxy_high_burden_high_prepay
3                   0  proxy_high_burden_high_prepay
4                   0  proxy_high_burden_high_prepay

[5 rows x 25 columns]

In [150]:
df

,local authority code,local authority,msoa code,middle layer super output area,number\nof meters,total_consumption,mean_consumption,median_consumption,year,msoa name,...,lower confidence limit (£),confidence interval (£),quarter,credit (%),direct debit (%),prepayment_%,annual_bill_estimate,cost_burden,default_risk_label,label_source
0,E06000001,Hartlepool,E02002483,Hartlepool 001,"3,743","12,986,912",3470.0,"3,100",2010,Hartlepool 001,...,"33,800","14,000",Mar,31.0,53.0,16.0,1041.0,0.025896,0,proxy_high_burden_high_prepay
1,E06000001,Hartlepool,E02002483,Hartlepool 001,"3,743","12,986,912",3470.0,"3,100",2010,Hartlepool 001,...,"33,800","14,000",Jun,30.0,54.0,16.0,1041.0,0.025896,0,proxy_high_burden_high_prepay
2,E06000001,Hartlepool,E02002483,Hartlepool 001,"3,743","12,986,912",3470.0,"3,100",2010,Hartlepool 001,...,"33,800","14,000",Sep,29.0,55.0,16.0,1041.0,0.025896,0,proxy_high_burden_high_prepay
3,E06000001,Hartlepool,E02002483,Hartlepool 001,"3,743","12,986,912",3470.0,"3,100",2010,Hartlepool 001,...,"33,800","14,000",Dec,29.0,56.0,16.0,1041.0,0.025896,0,proxy_high_burden_high_prepay
4,E06000001,Hartlepool,E02002484,Hartlepool 002,"4,802","15,109,783",3147.0,"2,735",2010,Hartlepool 002,...,"24,500","10,200",Mar,31.0,53.0,16.0,944.1,0.032332,0,proxy_high_burden_high_prepay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287736,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000287,Merthyr Tydfil 005,NaN,"10,040,300",2737.0,"2,363",2023,Merthyr Tydfil 005,...,"32,700","13,300",NaN,NaN,NaN,NaN,821.1,0.021162,0,proxy_high_burden_high_prepay
287737,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000288,Merthyr Tydfil 006,NaN,"10,291,416",2634.0,"2,224",2023,Merthyr Tydfil 006,...,"28,300","11,500",NaN,NaN,NaN,NaN,790.2,0.023588,0,proxy_high_burden_high_prepay
287738,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000289,Merthyr Tydfil 007,NaN,"11,261,745",2914.0,"2,448",2023,Merthyr Tydfil 007,...,"31,400","12,900",NaN,NaN,NaN,NaN,874.2,0.023437,0,proxy_high_burden_high_prepay
287739,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000415,Merthyr Tydfil 008,NaN,"12,099,972",3039.0,"2,679",2023,Merthyr Tydfil 008,...,"31,100","13,300",NaN,NaN,NaN,NaN,911.7,0.024574,0,proxy_high_burden_high_prepay
287740,Unallocated,Unallocated,Unallocated,Unallocated,NaN,"113,607,524",2915.0,"1,839",2023,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,874.5,NaN,0,proxy_high_burden_high_prepay

In [151]:
local_file_path = "./" + "msoa_final_with_payment_and_labels (1).csv"  # saves in current directory
with open(local_file_path, 'wb') as f:
    for chunk in response.data.raw.stream(1024 * 1024, decode_content=False):
        f.write(chunk)

print(f"Dataset saved locally to {local_file_path}")

Dataset saved locally to ./msoa_final_with_payment_and_labels (1).csv

In [152]:
from ads.dataset.factory import DatasetFactory
ds = DatasetFactory.from_dataframe(df).set_target('default_risk_label')

loop1:   0%|          | 0/4 [00:00<?, ?it/s]

In [153]:
ds.show_in_notebook()

Accordion(children=(HTML(value='<h3>Type: BinaryClassificationDataset</h3><h3>287,741 Rows, 25 Columns</h3><h4…

In [154]:
recommendations = ds.suggest_recommendations()
display(recommendations)

                                                                                                                                                                                            Code
Message                                                 Variables            Suggested                         Action
Constant Column                                         label_source         Drop                              Drop                                              .drop_columns(["label_source"])
Contains missing values(287)                            local_authority_code Fill missing values with frequent Drop                                      .drop_columns(["local_authority_code"])
                                                                                                               Fill missing values with frequent  .fillna({"local_authority_code": "E08000035"})
                                                                                                               Fill missing values with constant   .fillna({"local_authority_code": "constant"})
                                                                                                               Do nothing
...                                                                                                                                                                                          ...
Strongly correlated with annual_bill_estimate(100.00%.) mean_consumption     Drop mean_consumption             Drop annual_bill_estimate                 .drop_columns(["annual_bill_estimate"])
                                                                                                               Do nothing
Imbalanced Target(0.40%)                                default_risk_label   Do nothing                        Do nothing
                                                                                                               Down-sample                                                        .down_sample()
                                                                                                               Up-sample                                           .up_sample(sampler='default')

[99 rows x 1 columns]

In [155]:
ds_transformed = ds.auto_transform()

loop1:   0%|          | 0/7 [00:00<?, ?it/s]

In [156]:
ds.visualize_transforms()

In [157]:
ds_transformed.visualize_transforms()

In [158]:
ds_transformed

BinaryClassificationDataset(target: default_risk_label) 287,741 rows, 22 columns

In [159]:
import calendar
df_ready = ds_transformed.to_pandas()

# Map month abbreviations to month numbers
month_map = {month: index for index, month in enumerate(calendar.month_abbr) if month}

df_ready['month_num'] = df_ready['quarter'].map(month_map)

# Convert month number to quarter
df_ready['quarter_num'] = ((df_ready['month_num'] - 1) // 3) + 1

# Map quarter_num to seasons
df_ready['season'] = df_ready['quarter_num'].map({1: 'Winter', 2: 'Spring', 3: 'Summer', 4: 'Autumn'})
df_ready['year_quarter'] = df_ready['year'].astype(str) + 'Q' + df_ready['quarter_num'].astype(str)  # e.g. '2025Q3'

In [160]:
df_ready

,local_authority_code,local_authority,msoa_code,middle_layer_super_output_area,total_consumption,median_consumption,year,msoa_name,local_authority_name,region_code,...,credit_(%),direct_debit_(%),prepayment_%,annual_bill_estimate,cost_burden,default_risk_label,month_num,quarter_num,season,year_quarter
0,E06000001,Hartlepool,E02002483,Hartlepool 001,"12,986,912","3,100",2010,Hartlepool 001,Hartlepool,E12000001,...,31.0,53.0,16.0,1041.0,0.025896,0,3,1,Winter,2010Q1
1,E06000001,Hartlepool,E02002483,Hartlepool 001,"12,986,912","3,100",2010,Hartlepool 001,Hartlepool,E12000001,...,30.0,54.0,16.0,1041.0,0.025896,0,6,2,Spring,2010Q2
2,E06000001,Hartlepool,E02002483,Hartlepool 001,"12,986,912","3,100",2010,Hartlepool 001,Hartlepool,E12000001,...,29.0,55.0,16.0,1041.0,0.025896,0,9,3,Summer,2010Q3
3,E06000001,Hartlepool,E02002483,Hartlepool 001,"12,986,912","3,100",2010,Hartlepool 001,Hartlepool,E12000001,...,29.0,56.0,16.0,1041.0,0.025896,0,12,4,Autumn,2010Q4
4,E06000001,Hartlepool,E02002484,Hartlepool 002,"15,109,783","2,735",2010,Hartlepool 002,Hartlepool,E12000001,...,31.0,53.0,16.0,944.1,0.032332,0,3,1,Winter,2010Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287736,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000287,Merthyr Tydfil 005,"10,040,300","2,363",2023,Merthyr Tydfil 005,Merthyr Tydfil,W92000004,...,17.0,67.0,16.0,821.1,0.021162,0,6,2,Spring,2023Q2
287737,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000288,Merthyr Tydfil 006,"10,291,416","2,224",2023,Merthyr Tydfil 006,Merthyr Tydfil,W92000004,...,17.0,67.0,16.0,790.2,0.023588,0,6,2,Spring,2023Q2
287738,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000289,Merthyr Tydfil 007,"11,261,745","2,448",2023,Merthyr Tydfil 007,Merthyr Tydfil,W92000004,...,17.0,67.0,16.0,874.2,0.023437,0,6,2,Spring,2023Q2
287739,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000415,Merthyr Tydfil 008,"12,099,972","2,679",2023,Merthyr Tydfil 008,Merthyr Tydfil,W92000004,...,17.0,67.0,16.0,911.7,0.024574,0,6,2,Spring,2023Q2
287740,Unallocated,Unallocated,Unallocated,Unallocated,"113,607,524","1,839",2023,Elmbridge 005,Leeds,E12000008,...,17.0,67.0,16.0,874.5,0.024500,0,6,2,Spring,2023Q2

In [161]:
df_ready['bill_rolling_4q'] = df_ready.groupby('msoa_code')['annual_bill_estimate'].rolling(window=4, min_periods=1).mean().reset_index(level=0, drop=True)

In [162]:
df_ready

,local_authority_code,local_authority,msoa_code,middle_layer_super_output_area,total_consumption,median_consumption,year,msoa_name,local_authority_name,region_code,...,direct_debit_(%),prepayment_%,annual_bill_estimate,cost_burden,default_risk_label,month_num,quarter_num,season,year_quarter,bill_rolling_4q
0,E06000001,Hartlepool,E02002483,Hartlepool 001,"12,986,912","3,100",2010,Hartlepool 001,Hartlepool,E12000001,...,53.0,16.0,1041.0,0.025896,0,3,1,Winter,2010Q1,1041.000
1,E06000001,Hartlepool,E02002483,Hartlepool 001,"12,986,912","3,100",2010,Hartlepool 001,Hartlepool,E12000001,...,54.0,16.0,1041.0,0.025896,0,6,2,Spring,2010Q2,1041.000
2,E06000001,Hartlepool,E02002483,Hartlepool 001,"12,986,912","3,100",2010,Hartlepool 001,Hartlepool,E12000001,...,55.0,16.0,1041.0,0.025896,0,9,3,Summer,2010Q3,1041.000
3,E06000001,Hartlepool,E02002483,Hartlepool 001,"12,986,912","3,100",2010,Hartlepool 001,Hartlepool,E12000001,...,56.0,16.0,1041.0,0.025896,0,12,4,Autumn,2010Q4,1041.000
4,E06000001,Hartlepool,E02002484,Hartlepool 002,"15,109,783","2,735",2010,Hartlepool 002,Hartlepool,E12000001,...,53.0,16.0,944.1,0.032332,0,3,1,Winter,2010Q1,944.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287736,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000287,Merthyr Tydfil 005,"10,040,300","2,363",2023,Merthyr Tydfil 005,Merthyr Tydfil,W92000004,...,67.0,16.0,821.1,0.021162,0,6,2,Spring,2023Q2,862.125
287737,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000288,Merthyr Tydfil 006,"10,291,416","2,224",2023,Merthyr Tydfil 006,Merthyr Tydfil,W92000004,...,67.0,16.0,790.2,0.023588,0,6,2,Spring,2023Q2,821.325
287738,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000289,Merthyr Tydfil 007,"11,261,745","2,448",2023,Merthyr Tydfil 007,Merthyr Tydfil,W92000004,...,67.0,16.0,874.2,0.023437,0,6,2,Spring,2023Q2,920.400
287739,W06000024,Merthyr Tydfil / Merthyr Tudful,W02000415,Merthyr Tydfil 008,"12,099,972","2,679",2023,Merthyr Tydfil 008,Merthyr Tydfil,W92000004,...,67.0,16.0,911.7,0.024574,0,6,2,Spring,2023Q2,941.925
287740,Unallocated,Unallocated,Unallocated,Unallocated,"113,607,524","1,839",2023,Elmbridge 005,Leeds,E12000008,...,67.0,16.0,874.5,0.024500,0,6,2,Spring,2023Q2,979.650

In [163]:
numerical_cols = [
    "total_consumption",
    "median_consumption",
    "total_annual_income",
    "upper_confidence_limit_(£)",
    "lower_confidence_limit_(£)",
    "confidence_interval_(£)",
    "credit_(%)",
    "direct_debit_(%)",
    "prepayment_%",
    "annual_bill_estimate",
    "cost_burden"
]


for col in numerical_cols:
    df_ready[col] = (df_ready[col]
               .astype(str)
               .str.replace(',', '', regex=False)
               .str.replace('£', '', regex=False)
               .str.strip())
    df_ready[col] = pd.to_numeric(df_ready[col], errors='coerce')

In [164]:
#Consumption Dynamics


df_ready = df_ready.sort_values(by=['msoa_code', 'year', 'quarter_num'])  # Ensure order
df_ready['consumption_yoy'] = df_ready.groupby('msoa_code')['total_consumption'].pct_change(periods=4)  # For quarterly data

In [165]:
df_ready

,local_authority_code,local_authority,msoa_code,middle_layer_super_output_area,total_consumption,median_consumption,year,msoa_name,local_authority_name,region_code,...,prepayment_%,annual_bill_estimate,cost_burden,default_risk_label,month_num,quarter_num,season,year_quarter,bill_rolling_4q,consumption_yoy
16356,E09000001,City of London,E02000001,City of London 001,26802330,3355,2010,City of London 001,City of London,E12000007,...,20.0,1364.4,0.013403,0,3,1,Winter,2010Q1,1364.400,NaN
16357,E09000001,City of London,E02000001,City of London 001,26802330,3355,2010,City of London 001,City of London,E12000007,...,19.0,1364.4,0.013403,0,6,2,Spring,2010Q2,1364.400,NaN
16358,E09000001,City of London,E02000001,City of London 001,26802330,3355,2010,City of London 001,City of London,E12000007,...,20.0,1364.4,0.013403,0,9,3,Summer,2010Q3,1364.400,NaN
16359,E09000001,City of London,E02000001,City of London 001,26802330,3355,2010,City of London 001,City of London,E12000007,...,20.0,1364.4,0.013403,0,12,4,Autumn,2010Q4,1364.400,NaN
38334,E09000001,City of London,E02000001,City of London 001,25939246,3325,2011,City of London 001,City of London,E12000007,...,20.0,1324.8,0.013014,0,3,1,Winter,2011Q1,1354.500,-0.032202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202461,W06000011,Swansea / Abertawe,W02000428,Swansea 032,15108078,2760,2019,Elmbridge 005,Leeds,E12000008,...,16.0,982.8,0.024500,0,6,2,Spring,2019Q2,992.550,-0.062819
223722,W06000011,Swansea / Abertawe,W02000428,Swansea 032,15938882,2884,2020,Elmbridge 005,Leeds,E12000008,...,16.0,1034.4,0.024500,0,6,2,Spring,2020Q2,998.100,0.036892
244983,W06000011,Swansea / Abertawe,W02000428,Swansea 032,14750307,2624,2021,Elmbridge 005,Leeds,E12000008,...,16.0,955.2,0.024500,0,6,2,Spring,2021Q2,986.475,-0.028194
266244,W06000011,Swansea / Abertawe,W02000428,Swansea 032,13140522,2337,2022,Elmbridge 005,Leeds,E12000008,...,16.0,846.9,0.024500,0,6,2,Spring,2022Q2,954.825,-0.118211
287505,W06000011,Swansea / Abertawe,W02000428,Swansea 032,13959869,2428,2023,Elmbridge 005,Leeds,E12000008,...,16.0,894.6,0.024500,0,6,2,Spring,2023Q2,932.775,-0.076000

In [166]:
df_ready['bill_to_consumption'] = df_ready['annual_bill_estimate'] / df_ready['total_consumption']

In [167]:
df_ready['median_total_ratio'] = df_ready['median_consumption'] / df_ready['total_consumption']

In [168]:
#Socioeconomic & Burden Features

df_ready['income_bill_ratio'] = df_ready['total_annual_income'] / df_ready['annual_bill_estimate']

In [169]:
df_ready['cost_burden_band'] = pd.cut(df_ready['cost_burden'], bins=[0, 0.1, 0.2, 0.3, 1],
                                labels=['Low', 'Medium', 'High', 'Very High'])

In [170]:
msoa_mean = df_ready.groupby('msoa_code')['cost_burden'].transform('mean')
df_ready['relative_cost_burden'] = df_ready['cost_burden'] / msoa_mean

In [171]:
#Payment Method Signals

df_ready['dominant_payment_mode'] = df_ready[['credit_(%)', 'direct_debit_(%)', 'prepayment_%']].idxmax(axis=1)
df_ready['prepay_volatility'] = df_ready.groupby('msoa_code')['prepayment_%'].transform('std')
df_ready['num_payment_modes'] = df_ready[['credit_(%)', 'direct_debit_(%)', 'prepayment_%']].gt(0).sum(axis=1)

In [172]:
df_ready

,local_authority_code,local_authority,msoa_code,middle_layer_super_output_area,total_consumption,median_consumption,year,msoa_name,local_authority_name,region_code,...,bill_rolling_4q,consumption_yoy,bill_to_consumption,median_total_ratio,income_bill_ratio,cost_burden_band,relative_cost_burden,dominant_payment_mode,prepay_volatility,num_payment_modes
16356,E09000001,City of London,E02000001,City of London 001,26802330,3355,2010,City of London 001,City of London,E12000007,...,1364.400,NaN,0.000051,0.000125,74.611551,Low,1.103863,credit_(%),1.224899,3
16357,E09000001,City of London,E02000001,City of London 001,26802330,3355,2010,City of London 001,City of London,E12000007,...,1364.400,NaN,0.000051,0.000125,74.611551,Low,1.103863,credit_(%),1.224899,3
16358,E09000001,City of London,E02000001,City of London 001,26802330,3355,2010,City of London 001,City of London,E12000007,...,1364.400,NaN,0.000051,0.000125,74.611551,Low,1.103863,credit_(%),1.224899,3
16359,E09000001,City of London,E02000001,City of London 001,26802330,3355,2010,City of London 001,City of London,E12000007,...,1364.400,NaN,0.000051,0.000125,74.611551,Low,1.103863,credit_(%),1.224899,3
38334,E09000001,City of London,E02000001,City of London 001,25939246,3325,2011,City of London 001,City of London,E12000007,...,1354.500,-0.032202,0.000051,0.000128,76.841787,Low,1.071825,credit_(%),1.224899,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202461,W06000011,Swansea / Abertawe,W02000428,Swansea 032,15108078,2760,2019,Elmbridge 005,Leeds,E12000008,...,992.550,-0.062819,0.000065,0.000183,44.261294,Low,1.000000,direct_debit_(%),0.000000,3
223722,W06000011,Swansea / Abertawe,W02000428,Swansea 032,15938882,2884,2020,Elmbridge 005,Leeds,E12000008,...,998.100,0.036892,0.000065,0.000181,42.053364,Low,1.000000,direct_debit_(%),0.000000,3
244983,W06000011,Swansea / Abertawe,W02000428,Swansea 032,14750307,2624,2021,Elmbridge 005,Leeds,E12000008,...,986.475,-0.028194,0.000065,0.000178,45.540201,Low,1.000000,direct_debit_(%),0.000000,3
266244,W06000011,Swansea / Abertawe,W02000428,Swansea 032,13140522,2337,2022,Elmbridge 005,Leeds,E12000008,...,954.825,-0.118211,0.000064,0.000178,51.363797,Low,1.000000,direct_debit_(%),0.000000,3
287505,W06000011,Swansea / Abertawe,W02000428,Swansea 032,13959869,2428,2023,Elmbridge 005,Leeds,E12000008,...,932.775,-0.076000,0.000064,0.000174,48.625084,Low,1.000000,direct_debit_(%),0.000000,3

In [173]:
from ads.dataset.factory import DatasetFactory


# Set the target label (replace with your actual label column)
ads_ds = DatasetFactory.from_dataframe(df_ready).set_target('default_risk_label')

# Automatically transform the dataset (encoding, scaling, imputation)
ads_ds_transformed = ads_ds.auto_transform()

# Get pandas DataFrame ready for modeling
df_new = ads_ds_transformed.to_pandas()

print("Transformed DataFrame shape:", df_new.shape)
print(df_new.head())

loop1:   0%|          | 0/4 [00:00<?, ?it/s]

loop1:   0%|          | 0/7 [00:00<?, ?it/s]

Transformed DataFrame shape: (287741, 29)
      local_authority_code local_authority  msoa_code  \
16356            E09000001  City of London  E02000001
16357            E09000001  City of London  E02000001
16358            E09000001  City of London  E02000001
16359            E09000001  City of London  E02000001
38334            E09000001  City of London  E02000001

      middle_layer_super_output_area  total_consumption  year  \
16356             City of London 001           26802330  2010
16357             City of London 001           26802330  2010
16358             City of London 001           26802330  2010
16359             City of London 001           26802330  2010
38334             City of London 001           25939246  2011

                msoa_name local_authority_name region_code region_name  ...  \
16356  City of London 001       City of London   E12000007      London  ...
16357  City of London 001       City of London   E12000007      London  ...
16358  City of London 001       City of London   E12000007      London  ...
16359  City of London 001       City of London   E12000007      London  ...
38334  City of London 001       City of London   E12000007      London  ...

       default_risk_label  month_num  season year_quarter  consumption_yoy  \
16356                   0          3  Winter       2010Q1        -0.017000
16357                   0          6  Spring       2010Q2        -0.017000
16358                   0          9  Summer       2010Q3        -0.017000
16359                   0         12  Autumn       2010Q4        -0.017000
38334                   0          3  Winter       2011Q1        -0.032202

       median_total_ratio  income_bill_ratio  relative_cost_burden  \
16356            0.000125          74.611551              1.103863
16357            0.000125          74.611551              1.103863
16358            0.000125          74.611551              1.103863
16359            0.000125          74.611551              1.103863
38334            0.000128          76.841787              1.071825

       dominant_payment_mode  prepay_volatility
16356             credit_(%)           1.224899
16357             credit_(%)           1.224899
16358             credit_(%)           1.224899
16359             credit_(%)           1.224899
38334             credit_(%)           1.224899

[5 rows x 29 columns]

In [174]:
df_new

,local_authority_code,local_authority,msoa_code,middle_layer_super_output_area,total_consumption,year,msoa_name,local_authority_name,region_code,region_name,...,default_risk_label,month_num,season,year_quarter,consumption_yoy,median_total_ratio,income_bill_ratio,relative_cost_burden,dominant_payment_mode,prepay_volatility
16356,E09000001,City of London,E02000001,City of London 001,26802330,2010,City of London 001,City of London,E12000007,London,...,0,3,Winter,2010Q1,-0.017000,0.000125,74.611551,1.103863,credit_(%),1.224899
16357,E09000001,City of London,E02000001,City of London 001,26802330,2010,City of London 001,City of London,E12000007,London,...,0,6,Spring,2010Q2,-0.017000,0.000125,74.611551,1.103863,credit_(%),1.224899
16358,E09000001,City of London,E02000001,City of London 001,26802330,2010,City of London 001,City of London,E12000007,London,...,0,9,Summer,2010Q3,-0.017000,0.000125,74.611551,1.103863,credit_(%),1.224899
16359,E09000001,City of London,E02000001,City of London 001,26802330,2010,City of London 001,City of London,E12000007,London,...,0,12,Autumn,2010Q4,-0.017000,0.000125,74.611551,1.103863,credit_(%),1.224899
38334,E09000001,City of London,E02000001,City of London 001,25939246,2011,City of London 001,City of London,E12000007,London,...,0,3,Winter,2011Q1,-0.032202,0.000128,76.841787,1.071825,credit_(%),1.224899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202461,W06000011,Swansea / Abertawe,W02000428,Swansea 032,15108078,2019,Elmbridge 005,Leeds,E12000008,South East,...,0,6,Spring,2019Q2,-0.062819,0.000183,44.261294,1.000000,direct_debit_(%),0.000000
223722,W06000011,Swansea / Abertawe,W02000428,Swansea 032,15938882,2020,Elmbridge 005,Leeds,E12000008,South East,...,0,6,Spring,2020Q2,0.036892,0.000181,42.053364,1.000000,direct_debit_(%),0.000000
244983,W06000011,Swansea / Abertawe,W02000428,Swansea 032,14750307,2021,Elmbridge 005,Leeds,E12000008,South East,...,0,6,Spring,2021Q2,-0.028194,0.000178,45.540201,1.000000,direct_debit_(%),0.000000
266244,W06000011,Swansea / Abertawe,W02000428,Swansea 032,13140522,2022,Elmbridge 005,Leeds,E12000008,South East,...,0,6,Spring,2022Q2,-0.118211,0.000178,51.363797,1.000000,direct_debit_(%),0.000000
287505,W06000011,Swansea / Abertawe,W02000428,Swansea 032,13959869,2023,Elmbridge 005,Leeds,E12000008,South East,...,0,6,Spring,2023Q2,-0.076000,0.000174,48.625084,1.000000,direct_debit_(%),0.000000

In [175]:
original_cols = set(df_ready.columns)

# Columns after transformation
transformed_cols = set(df_new.columns)

# Columns dropped by auto_transform
dropped_cols = original_cols - transformed_cols

print("Dropped columns during auto_transform:", dropped_cols)

Dropped columns during auto_transform: {'quarter_num', 'cost_burden_band', 'num_payment_modes', 'bill_rolling_4q', 'bill_to_consumption', 'total_annual_income', 'median_consumption'}

In [176]:
for col in dropped_cols:
    if pd.api.types.is_numeric_dtype(df_ready[col]):
        corr = df_ready[[col, 'default_risk_label']].corr().iloc[0, 1]
        print(f"{col}: correlation with target = {corr:.3f}")

quarter_num: correlation with target = 0.027
num_payment_modes: correlation with target = nan
bill_rolling_4q: correlation with target = 0.040
bill_to_consumption: correlation with target = 0.000
total_annual_income: correlation with target = -0.047
median_consumption: correlation with target = 0.028

In [177]:
for col in dropped_cols:
    if not pd.api.types.is_numeric_dtype(df_ready[col]):
        print(df_ready.groupby(col)['default_risk_label'].mean())

cost_burden_band
Low          0.003069
Medium            NaN
High              NaN
Very High         NaN
Name: default_risk_label, dtype: float64

In [178]:
df_new.columns

Index(['local_authority_code', 'local_authority', 'msoa_code',
       'middle_layer_super_output_area', 'total_consumption', 'year',
       'msoa_name', 'local_authority_name', 'region_code', 'region_name',
       'upper_confidence_limit_(£)', 'lower_confidence_limit_(£)',
       'confidence_interval_(£)', 'quarter', 'credit_(%)', 'direct_debit_(%)',
       'prepayment_%', 'annual_bill_estimate', 'cost_burden',
       'default_risk_label', 'month_num', 'season', 'year_quarter',
       'consumption_yoy', 'median_total_ratio', 'income_bill_ratio',
       'relative_cost_burden', 'dominant_payment_mode', 'prepay_volatility'],
      dtype='object')

In [179]:
from ads.dataset.label_encoder import DataFrameLabelEncoder

categorical_cols = [
    'local_authority_code', 'msoa_code', 'region_code',
    'season', 'dominant_payment_mode'
]


df_encoded = DataFrameLabelEncoder().fit_transform(df_new[categorical_cols])

In [180]:
df_encoded

,local_authority_code,msoa_code,region_code,season,dominant_payment_mode
16356,280,0,6,3,0
16357,280,0,6,1,0
16358,280,0,6,2,0
16359,280,0,6,0,0
38334,280,0,6,3,0
...,...,...,...,...,...
202461,355,8664,7,1,1
223722,355,8664,7,1,1
244983,355,8664,7,1,1
266244,355,8664,7,1,1
287505,355,8664,7,1,1

In [181]:
df_remaining = df_new.drop(columns=categorical_cols)

In [182]:
df_final = pd.concat([df_remaining.reset_index(drop=True),
                      df_encoded.reset_index(drop=True)], axis=1)

In [183]:
df_final

,local_authority,middle_layer_super_output_area,total_consumption,year,msoa_name,local_authority_name,region_name,upper_confidence_limit_(£),lower_confidence_limit_(£),confidence_interval_(£),...,consumption_yoy,median_total_ratio,income_bill_ratio,relative_cost_burden,prepay_volatility,local_authority_code,msoa_code,region_code,season,dominant_payment_mode
0,City of London,City of London 001,26802330,2010,City of London 001,City of London,London,127500,81300,46200,...,-0.017000,0.000125,74.611551,1.103863,1.224899,280,0,6,3,0
1,City of London,City of London 001,26802330,2010,City of London 001,City of London,London,127500,81300,46200,...,-0.017000,0.000125,74.611551,1.103863,1.224899,280,0,6,1,0
2,City of London,City of London 001,26802330,2010,City of London 001,City of London,London,127500,81300,46200,...,-0.017000,0.000125,74.611551,1.103863,1.224899,280,0,6,2,0
3,City of London,City of London 001,26802330,2010,City of London 001,City of London,London,127500,81300,46200,...,-0.017000,0.000125,74.611551,1.103863,1.224899,280,0,6,0,0
4,City of London,City of London 001,25939246,2011,City of London 001,City of London,London,127500,81300,46200,...,-0.032202,0.000128,76.841787,1.071825,1.224899,280,0,6,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287736,Swansea / Abertawe,Swansea 032,15108078,2019,Elmbridge 005,Leeds,South East,53300,34900,11800,...,-0.062819,0.000183,44.261294,1.000000,0.000000,355,8664,7,1,1
287737,Swansea / Abertawe,Swansea 032,15938882,2020,Elmbridge 005,Leeds,South East,53300,34900,11800,...,0.036892,0.000181,42.053364,1.000000,0.000000,355,8664,7,1,1
287738,Swansea / Abertawe,Swansea 032,14750307,2021,Elmbridge 005,Leeds,South East,53300,34900,11800,...,-0.028194,0.000178,45.540201,1.000000,0.000000,355,8664,7,1,1
287739,Swansea / Abertawe,Swansea 032,13140522,2022,Elmbridge 005,Leeds,South East,53300,34900,11800,...,-0.118211,0.000178,51.363797,1.000000,0.000000,355,8664,7,1,1
287740,Swansea / Abertawe,Swansea 032,13959869,2023,Elmbridge 005,Leeds,South East,53300,34900,11800,...,-0.076000,0.000174,48.625084,1.000000,0.000000,355,8664,7,1,1

In [184]:
# Columns we decided to drop
cols_to_drop = [
    'local_authority', 'middle_layer_super_output_area', 'msoa_name',
    'local_authority_name', 'region_name', 'quarter'             # drop if keeping region_name
]

# Drop only if the columns exist in the DataFrame
df_final = df_final.drop(columns=[c for c in cols_to_drop if c in df.columns])

print("✅ Columns dropped. Remaining columns are:")
print(df.columns.tolist())

✅ Columns dropped. Remaining columns are:
['local_authority_code', 'local_authority', 'msoa_code', 'middle_layer_super_output_area', 'number\nof_meters', 'total_consumption', 'mean_consumption', 'median_consumption', 'year', 'msoa_name', 'local_authority_name', 'region_code', 'region_name', 'total_annual_income', 'upper_confidence_limit_(£)', 'lower_confidence_limit_(£)', 'confidence_interval_(£)', 'quarter', 'credit_(%)', 'direct_debit_(%)', 'prepayment_%', 'annual_bill_estimate', 'cost_burden', 'default_risk_label', 'label_source']

In [185]:
df_final

,total_consumption,year,upper_confidence_limit_(£),lower_confidence_limit_(£),confidence_interval_(£),credit_(%),direct_debit_(%),prepayment_%,annual_bill_estimate,cost_burden,...,consumption_yoy,median_total_ratio,income_bill_ratio,relative_cost_burden,prepay_volatility,local_authority_code,msoa_code,region_code,season,dominant_payment_mode
0,26802330,2010,127500,81300,46200,43.0,36.0,20.0,1364.4,0.013403,...,-0.017000,0.000125,74.611551,1.103863,1.224899,280,0,6,3,0
1,26802330,2010,127500,81300,46200,43.0,38.0,19.0,1364.4,0.013403,...,-0.017000,0.000125,74.611551,1.103863,1.224899,280,0,6,1,0
2,26802330,2010,127500,81300,46200,42.0,38.0,20.0,1364.4,0.013403,...,-0.017000,0.000125,74.611551,1.103863,1.224899,280,0,6,2,0
3,26802330,2010,127500,81300,46200,42.0,38.0,20.0,1364.4,0.013403,...,-0.017000,0.000125,74.611551,1.103863,1.224899,280,0,6,0,0
4,25939246,2011,127500,81300,46200,42.0,38.0,20.0,1324.8,0.013014,...,-0.032202,0.000128,76.841787,1.071825,1.224899,280,0,6,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287736,15108078,2019,53300,34900,11800,17.0,67.0,16.0,982.8,0.024500,...,-0.062819,0.000183,44.261294,1.000000,0.000000,355,8664,7,1,1
287737,15938882,2020,53300,34900,11800,17.0,67.0,16.0,1034.4,0.024500,...,0.036892,0.000181,42.053364,1.000000,0.000000,355,8664,7,1,1
287738,14750307,2021,53300,34900,11800,17.0,67.0,16.0,955.2,0.024500,...,-0.028194,0.000178,45.540201,1.000000,0.000000,355,8664,7,1,1
287739,13140522,2022,53300,34900,11800,17.0,67.0,16.0,846.9,0.024500,...,-0.118211,0.000178,51.363797,1.000000,0.000000,355,8664,7,1,1
287740,13959869,2023,53300,34900,11800,17.0,67.0,16.0,894.6,0.024500,...,-0.076000,0.000174,48.625084,1.000000,0.000000,355,8664,7,1,1

In [186]:
numerical_cols = [
    'total_consumption', 'upper_confidence_limit_(£)',
    'lower_confidence_limit_(£)', 'confidence_interval_(£)',
    'credit_(%)', 'direct_debit_(%)', 'prepayment_%',
    'annual_bill_estimate', 'cost_burden',
    'consumption_yoy', 'median_total_ratio', 'income_bill_ratio',
    'relative_cost_burden', 'prepay_volatility'
]

In [187]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_final[numerical_cols] = scaler.fit_transform(df_final[numerical_cols])

In [188]:
df_final.columns

Index(['total_consumption', 'year', 'upper_confidence_limit_(£)',
       'lower_confidence_limit_(£)', 'confidence_interval_(£)', 'credit_(%)',
       'direct_debit_(%)', 'prepayment_%', 'annual_bill_estimate',
       'cost_burden', 'default_risk_label', 'month_num', 'year_quarter',
       'consumption_yoy', 'median_total_ratio', 'income_bill_ratio',
       'relative_cost_burden', 'prepay_volatility', 'local_authority_code',
       'msoa_code', 'region_code', 'season', 'dominant_payment_mode'],
      dtype='object')

In [189]:
ads_ds_cleaned = DatasetFactory.from_dataframe(df_final)
ads_ds_cleaned = ads_ds_cleaned.set_target("default_risk_label")

loop1:   0%|          | 0/4 [00:00<?, ?it/s]

In [190]:
ads_ds_cleaned

BinaryClassificationDataset(target: default_risk_label) 287,741 rows, 23 columns

In [191]:
from ads.dataset.helper import up_sample
ds_upsampled = up_sample(ads_ds_cleaned, ['default_risk_label'], sampler = 'default', feature_types= None)
ds_upsampled.head

<bound method NDFrame.head of         total_consumption  year  upper_confidence_limit_(£)  \
0                3.563551  2010                    5.263086
1                3.563551  2010                    5.263086
2                3.563551  2010                    5.263086
3                3.563551  2010                    5.263086
4                3.347243  2011                    5.263086
...                   ...   ...                         ...
573711           0.784654  2010                    1.087520
573712          -0.421638  2018                   -1.479789
573713          -0.691154  2018                   -1.856032
573714          -0.406547  2018                   -1.819146
573715          -1.185350  2018                   -1.811768

        lower_confidence_limit_(£)  confidence_interval_(£)  credit_(%)  \
0                         4.328561                 7.006066    2.742720
1                         4.328561                 7.006066    2.742720
2                         4.328561                 7.006066    2.603378
3                         4.328561                 7.006066    2.603378
4                         4.328561                 7.006066    2.603378
...                            ...                      ...         ...
573711                    1.062066                 1.218744    2.742720
573712                   -1.457802                -1.202247   -0.322804
573713                   -1.862226                -1.478931   -0.462146
573714                   -1.851856                -1.386703   -0.322804
573715                   -1.810377                -1.455874   -0.462146

        direct_debit_(%)  prepayment_%  annual_bill_estimate  cost_burden  \
0              -2.870176      1.391469              1.031559    -2.051411
1              -2.643791      1.093223              1.031559    -2.051411
2              -2.643791      1.391469              1.031559    -2.051411
3              -2.643791      1.391469              1.031559    -2.051411
4              -2.643791      1.391469              0.858755    -2.122516
...                  ...           ...                   ...          ...
573711         -2.643791      1.093223              4.245443     1.963745
573712         -0.040365      0.794978             -0.625785     1.418934
573713         -0.040365      1.093223             -0.722659     2.290869
573714         -0.040365      0.794978             -1.178232     1.484726
573715         -0.040365      1.093223             -0.773715     2.081220

        ...  median_total_ratio income_bill_ratio  relative_cost_burden  \
0       ...           -1.694533          3.059987              1.461570
1       ...           -1.694533          3.059987              1.461570
2       ...           -1.694533          3.059987              1.461570
3       ...           -1.694533          3.059987              1.461570
4       ...           -1.655806          3.273298              1.010724
...     ...                 ...               ...                   ...
573711  ...            1.102854         -1.372008              1.365750
573712  ...           -0.223850         -1.123150             -0.259000
573713  ...            0.279848         -1.502248             -0.234911
573714  ...           -0.499139         -1.155607             -0.194466
573715  ...            0.893297         -1.420269             -0.472393

        prepay_volatility  local_authority_code  msoa_code  region_code  \
0                0.557769                   280          0            6
1                0.557769                   280          0            6
2                0.557769                   280          0            6
3                0.557769                   280          0            6
4                0.557769                   280          0            6
...                   ...                   ...        ...          ...
573711           0.557769                   295        459            6
573712           0.926514                   274       2156            2
573713           0.926514                   261       1551            2
573714           0.926514                    11       2653            2
573715           0.926514                   274       2166            2

        season  dominant_payment_mode
0            3                      0  0
1            1                      0  0
2            2                      0  0
3            0                      0  0
4            3                      0  0
...        ...                    ... ..
573711       1                      0  1
573712       0                      1  1
573713       1                      1  1
573714       0                      1  1
573715       1                      1  1

[573716 rows x 23 columns]>

In [192]:
ds_upsampled[""].value_counts()

0    286858
1    286858
Name: count, dtype: int64

In [193]:
ds_upsampled = ds_upsampled.rename(columns={"": "default_risk_label"})

In [194]:
ads_ds_balanced = DatasetFactory.from_dataframe(ds_upsampled).set_target('default_risk_label')

loop1:   0%|          | 0/4 [00:00<?, ?it/s]

In [195]:
ads_ds_balanced

BinaryClassificationDataset(target: default_risk_label) 573,716 rows, 23 columns

In [196]:
#Split Data set into Train, Test and Validation

In [197]:
data_split = ads_ds_balanced.train_validation_test_split( test_size = 0.1, validation_size = 0.1)
train, validation, test = data_split
print(data_split)

(Train Data
Shape of X:(464709, 22)
Shape of y:(464709,), Validation Data
Shape of X:(51635, 22)
Shape of y:(51635,), Test Data
Shape of X:(57372, 22)
Shape of y:(57372,))